# Visual Clash: A/B Testing Watch Screens to Elevate Marketing Strategies

The watch company 'Timetrends' is conducting a study to boost its sales by investigating changes to the watch screen design. Two types of campaigns have been set up:

a control campaign using the existing watch screen design (Design A) and a test campaign incorporating a slightly different design with a different CTA at the bottom of the page. 

Instead of a complete redesign, the best practice is to make targeted changes to specific parts of the screen to see how these adjustments impact profit and engagement.

Dataset Features:

1. Campaign Name: Identifies each advertising campaign in the dataset.

2. Date: Records the date of each entry, providing a temporal dimension to the analysis.

3. Spend: Reflects the amount invested in each campaign in dollars.

4. Impressions and Reach: Measure the visibility and unique impressions achieved by the ads.

5. Website Clicks, Searches, View Content, Add to Cart, Purchase: User interactions captured during the campaigns, providing insights into engagement and conversion.

# Hypothesis: Our project hinges on a clear hypothesis:

1. Null Hypothesis (H0): The new watch screen design does not yield a significant improvement in marketing campaign performance, measured by user engagement and sales metrics, compared to the existing design.

2. Alternative Hypothesis (H1): The new watch screen design outperforms the existing design, resulting in a notable enhancement of user engagement and sales metrics in marketing campaigns.

# Key Performance Indicators (KPIs):


In selecting KPIs for this test, high-level metrics are prioritized to ensure a comprehensive evaluation of campaign success. The primary KPI should be a measure of profitability, such as ROI, to reflect the overall impact of the campaign. While CTR is also an important metric, it should serve as a secondary KPI. If the test design yields a higher CTR but does not improve ROI, it may not be worth implementing.

# Primary KPI:


1. Return on Investment (ROI): This metric reflects the profitability of the campaign and should be the main focus.

Secondary KPIs:


2. Click-Through Rate (CTR): Percentage of impressions that resulted in a click.

3. Conversion Rate: Percentage of clicks that resulted in a purchase.

# TASK: 
THE company wants to  determine  which watch screen design changes work better for boosting sales and engagement. To achieve this, an A/B test will be conducted. 
# AIM : 
as a  data analyst , i will analyze  the numbers and providing a clear verdict on which watch screen design is the superior choice. the  findings will guide future decisions on how Timetrends showcases its watches to the world.

# Task 1: Loading Control Campaign Data
Before we start our analysis, we need to view the control campaign dataset. It's essential to analyze the data and identify the columns it contains. Let's take a look.
​
​

In [1]:
import pandas as pd

file_path = './control_group.csv'

# Load the data into a DataFrame using ';' as the separator
control_df = pd.read_csv(file_path, sep=';')

control_df.head()

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Control Campaign,1.08.2019,2280,82702.0,56930.0,7016.0,2290.0,2159.0,1819.0,618.0
1,Control Campaign,2.08.2019,1757,121040.0,102513.0,8110.0,2033.0,1841.0,1219.0,511.0
2,Control Campaign,3.08.2019,2343,131711.0,110862.0,6508.0,1737.0,1549.0,1134.0,372.0
3,Control Campaign,4.08.2019,1940,72878.0,61235.0,3065.0,1042.0,982.0,1183.0,340.0
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Task 2: Loading Test Campaign Data

In [2]:
file_path = './test_group.csv'

# Load the data into a DataFrame using ';' as the separator
test_df = pd.read_csv(file_path, sep=';')

test_df.head()

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

# Task 3: Simplifying Column Names for Better Understanding

In [3]:
 control_df.columns = ['Campaign Name', 'Date', 'Amount Spent', 'Impressions', 'Reach', 'Number of Clicks', 'Number of Searches', 'Number of views', 'Number Added to cart', 'Purchase Number']


control_df.head()

,Campaign Name,Date,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number
0,Control Campaign,1.08.2019,2280,82702.0,56930.0,7016.0,2290.0,2159.0,1819.0,618.0
1,Control Campaign,2.08.2019,1757,121040.0,102513.0,8110.0,2033.0,1841.0,1219.0,511.0
2,Control Campaign,3.08.2019,2343,131711.0,110862.0,6508.0,1737.0,1549.0,1134.0,372.0
3,Control Campaign,4.08.2019,1940,72878.0,61235.0,3065.0,1042.0,982.0,1183.0,340.0
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
test_df.columns = ['Campaign Name', 'Date', 'Amount Spent', 'Impressions', 'Reach', 'Number of Clicks', 'Number of Searches', 'Number of views', 'Number Added to cart', 'Purchase Number']
test_df.head()

,Campaign Name,Date,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

# Task 4: Checking for Missing Values in Test Campaign Data

In [5]:
null_sum_controldf = control_df.isnull().sum()


null_sum_controldf

Campaign Name           0
Date                    0
Amount Spent            0
Impressions             1
Reach                   1
Number of Clicks        1
Number of Searches      1
Number of views         1
Number Added to cart    1
Purchase Number         1
dtype: int64

# Task 5: Handling Missing Values in Control Campaign Data
they are missing values in the control campaign data, We're filling in missing values using the mean  for each column.

In [6]:
control_df.fillna(control_df.mean(numeric_only=True), inplace=True)
control_df.head()

,Campaign Name,Date,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number
0,Control Campaign,1.08.2019,2280,82702.000000,56930.000000,7016.000000,2290.000000,2159.000000,1819.0,618.000000
1,Control Campaign,2.08.2019,1757,121040.000000,102513.000000,8110.000000,2033.000000,1841.000000,1219.0,511.000000
2,Control Campaign,3.08.2019,2343,131711.000000,110862.000000,6508.000000,1737.000000,1549.000000,1134.0,372.000000
3,Control Campaign,4.08.2019,1940,72878.000000,61235.000000,3065.000000,1042.000000,982.000000,1183.0,340.000000
4,Control Campaign,5.08.2019,1835,109559.758621,88844.931034,5320.793103,2221.310345,1943.793103,1300.0,522.793103

# Task 7: Checking for Missing Values in Test Campaign Data

In [7]:
null_sum_testdf = test_df.isnull().sum()

null_sum_testdf

Campaign Name           0
Date                    0
Amount Spent            0
Impressions             0
Reach                   0
Number of Clicks        0
Number of Searches      0
Number of views         0
Number Added to cart    0
Purchase Number         0
dtype: int64

# DESCRIPTIVE STATISTIC

In [8]:
control_describe = control_df.describe()

# Display the result
control_describe

,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,2288.433333,109559.758621,88844.931034,5320.793103,2221.310345,1943.793103,1300.000000,522.793103
std,367.334451,21311.695472,21452.627592,1726.803732,851.025795,764.021907,400.371207,181.810508
min,1757.000000,71274.000000,42859.000000,2277.000000,1001.000000,848.000000,442.000000,222.000000
25%,1945.500000,95191.250000,75300.250000,4122.250000,1629.250000,1249.000000,942.500000,375.500000
50%,2299.500000,112368.000000,91418.000000,5272.396552,2340.000000,1979.500000,1319.500000,506.000000
75%,2532.000000,121259.000000,101958.750000,6609.500000,2655.000000,2360.500000,1638.000000,663.250000
max,3083.000000,145248.000000,127852.000000,8137.000000,4891.000000,4219.000000,1913.000000,800.000000

In [9]:

test_describe =test_df.describe()

# Display the result
test_describe

,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,2563.066667,74584.800000,53491.566667,6032.333333,2418.966667,1858.000000,881.533333,521.233333
std,348.687681,32121.377422,28795.775752,1708.567263,388.742312,597.654669,347.584248,211.047745
min,1968.000000,22521.000000,10598.000000,3038.000000,1854.000000,858.000000,278.000000,238.000000
25%,2324.500000,47541.250000,31516.250000,4407.000000,2043.000000,1320.000000,582.500000,298.000000
50%,2584.000000,68853.500000,44219.500000,6242.500000,2395.500000,1881.000000,974.000000,500.000000
75%,2836.250000,99500.000000,78778.750000,7604.750000,2801.250000,2412.000000,1148.500000,701.000000
max,3112.000000,133771.000000,109834.000000,8264.000000,2978.000000,2801.000000,1391.000000,890.000000

# Task 6 : Understanding Purchase Numbers Distribution
USING THE SHAPIRO WILK TEST

In [11]:
from scipy.stats import shapiro
shapiro_control = shapiro(control_df['Purchase Number'])
shapiro_test = shapiro(test_df['Purchase Number'])

# Create DataFrame for Shapiro-Wilk test results
shapiro_results = pd.DataFrame({
    'Group': ['Control', 'Test'],
    'Test Statistic': [shapiro_control.statistic, shapiro_test.statistic],
    'P-value': [shapiro_control.pvalue, shapiro_test.pvalue]
})

shapiro_results

     Group  Test Statistic   P-value
0  Control        0.943273  0.111445
1     Test        0.918189  0.024078

When the p-value is higher than 0.05 (common significance level), it means we don't have enough evidence to say the data significantly deviates from a normal distribution. On the other hand, if the p-value is lower than 0.05, it suggests the data significantly deviates from a normal distribution.

# Task 7: Comparing Purchase Numbers with a T-Test
 let's compare the 'Purchase Number' between our control and test groups. We'll use a t-test to check for a significant difference. inorder  to see if there's a standout performer between the groups?

In [15]:
from scipy.stats import ttest_ind
t_stat, p_value = ttest_ind(control_df['Purchase Number'], test_df['Purchase Number'])
t_stat

0.03066909523750146

In [16]:
p_value

0.9756387309702421

# Calculate 'Cost per Conversion' for both control group and test group  by dividing 'Amount Spent' by 'Purchase Number'

In [17]:
control_df['Cost per Conversion'] = control_df['Amount Spent'] / control_df['Purchase Number']
test_df['Cost per Conversion'] = test_df['Amount Spent'] / test_df['Purchase Number']

In [19]:
control_df['Cost per Conversion']

0     3.689320
1     3.438356
2     6.298387
3     5.705882
4     3.509993
5     4.035340
6     5.098196
7     4.112554
8     5.614770
9     2.927793
10    5.242105
11    2.920655
12    3.520888
13    2.379442
14    7.579235
15    4.621005
16    9.806306
17    7.720165
18    4.789668
19    8.946488
20    2.253750
21    7.594315
22    3.258486
23    3.234188
24    5.082902
25    8.896414
26    3.406612
27    3.765163
28    7.110778
29    3.468657
Name: Cost per Conversion, dtype: float64

In [20]:
test_df['Cost per Conversion']

0     11.796078
1      3.754801
2      4.091696
3      7.970588
4      2.990885
5      5.036885
6      3.188764
7      6.765661
8      3.138462
9     10.145455
10     3.622754
11     3.992948
12     2.428571
13     7.461765
14     6.321608
15     6.316222
16     8.268908
17     7.700389
18     5.128906
19     3.715068
20    12.702041
21    10.503623
22     5.088795
23     7.724907
24     4.497696
25     8.137324
26     3.780804
27     3.116505
28     4.143279
29     3.456294
Name: Cost per Conversion, dtype: float64

# Task 8: Comparing Cost per Conversion in Control and Test Campaigns
let's discuss cost-effectiveness. We've figured out the 'Cost per Conversion' for both control and test groups.now  is to determine the average cost for each. Let's see which campaign is more budget-friendly for turning clicks into purchases.

In [21]:
# Compute the mean of 'Cost per Conversion' for both control group and test group
average_cost_control = control_df['Cost per Conversion'].mean()
average_cost_test = test_df['Cost per Conversion'].mean()

In [22]:
average_cost_control

5.000927131911764

In [23]:
average_cost_test

5.899589404475941

# Task 9 : Merging Datasets for In-Depth Analysis
to calculate the primary (ROI) and secondary KPIs (CTR, Conversion Rate, CPC), we need to merge the control and test datasets.

In [24]:
merged = pd.concat([control_df, test_df], ignore_index=True)

# Display the first few rows of the merged DataFrame
merged.head()

,Campaign Name,Date,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number,Cost per Conversion
0,Control Campaign,1.08.2019,2280,82702.000000,56930.000000,7016.000000,2290.000000,2159.000000,1819.0,618.000000,3.689320
1,Control Campaign,2.08.2019,1757,121040.000000,102513.000000,8110.000000,2033.000000,1841.000000,1219.0,511.000000,3.438356
2,Control Campaign,3.08.2019,2343,131711.000000,110862.000000,6508.000000,1737.000000,1549.000000,1134.0,372.000000,6.298387
3,Control Campaign,4.08.2019,1940,72878.000000,61235.000000,3065.000000,1042.000000,982.000000,1183.0,340.000000,5.705882
4,Control Campaign,5.08.2019,1835,109559.758621,88844.931034,5320.793103,2221.310345,1943.793103,1300.0,522.793103,3.509993

# Task 10: Enhancing Dataset with ROI,CTR, Conversion Rate, and CPC

 let's take it a step further by incorporating additional metrics such as Click-Through Rate (CTR), Conversion Rate, Cost Per Click (CPC), and Return On Investment (ROI). 
 
 These metrics are pivotal in assessing campaign effectiveness. Calculating  the primary KPI, Return On Investment (ROI), and the secondary KPIs, Conversion Rate, Click-Through Rate (CTR), and Cost Per Click (CPC), will  provide comprehensive insights into our campaign strategies.

# Primary KPI:

Return On Investment (ROI): reflects the profitability of our campaigns.

# Secondary KPIs:

Click-Through Rate (CTR): This measures how successful an ad has been in capturing users' attention. The higher the CTR, the more successful the ad has been in generating interest.

Conversion Rate: This is the ratio of users who take a desired action (e.g., making a purchase) to the total number of users who clicked on the ad.

CPC (Cost Per Click): This metric determines how much advertisers pay for ads based on the number of clicks. It's essential for marketers to understand the price for their paid advertising campaigns.

In [25]:
merged['CTR'] = (merged['Number of Clicks'] / merged['Impressions']) * 100
merged['Conversion Rate'] = (merged['Purchase Number'] / merged['Number of Clicks']) * 100
merged['CPC'] = merged['Amount Spent'] / merged['Number of Clicks']
merged['ROI'] = ((merged['Purchase Number'] - merged['Amount Spent']) / merged['Amount Spent']) * 100


merged.head()

,Campaign Name,Date,Amount Spent,Impressions,Reach,Number of Clicks,Number of Searches,Number of views,Number Added to cart,Purchase Number,Cost per Conversion,CTR,Conversion Rate,CPC,ROI
0,Control Campaign,1.08.2019,2280,82702.000000,56930.000000,7016.000000,2290.000000,2159.000000,1819.0,618.000000,3.689320,8.483471,8.808438,0.324971,-72.894737
1,Control Campaign,2.08.2019,1757,121040.000000,102513.000000,8110.000000,2033.000000,1841.000000,1219.0,511.000000,3.438356,6.700264,6.300863,0.216646,-70.916335
2,Control Campaign,3.08.2019,2343,131711.000000,110862.000000,6508.000000,1737.000000,1549.000000,1134.0,372.000000,6.298387,4.941121,5.716042,0.360018,-84.122919
3,Control Campaign,4.08.2019,1940,72878.000000,61235.000000,3065.000000,1042.000000,982.000000,1183.0,340.000000,5.705882,4.205659,11.092985,0.632953,-82.474227
4,Control Campaign,5.08.2019,1835,109559.758621,88844.931034,5320.793103,2221.310345,1943.793103,1300.0,522.793103,3.509993,4.856521,9.825473,0.344873,-71.509913

# Task 15: Comparing Metrics in Control vs. Test Campaigns

 We're now analyzing key metrics—Return On Investment (ROI) as our primary KPI, and Click-Through Rate (CTR), Conversion Rate, and Cost Per Click (CPC) as secondary KPIs—to compare our control and test campaigns.

Using t-tests, we'll identify differences in these metrics and interpret results based on statistical significance (p-values) and effect sizes (t-statistics). By comparing Cost per Conversion in Control and Test Campaigns, we'll gain insights into overall campaign performance.

With these insights, we'll conclude our A/B project by addressing the initial Null Hypothesis (H0) and Alternative Hypothesis (H1), guiding future marketing strategies for optimal results.

the task is to conduct t-tests for each metric and provide insights into whether these differences are significant.

In [26]:
if 'CTR' not in control_df.columns:
    control_df['CTR'] = (control_df['Number of Clicks'] / control_df['Impressions']) * 100
    control_df['Conversion Rate'] = (control_df['Purchase Number'] / control_df['Number of Clicks']) * 100
    control_df['CPC'] = control_df['Amount Spent'] / control_df['Number of Clicks']
    control_df['ROI'] = ((control_df['Purchase Number'] - control_df['Amount Spent']) / control_df['Amount Spent']) * 100

if 'CTR' not in test_df.columns:
    test_df['CTR'] = (test_df['Number of Clicks'] / test_df['Impressions']) * 100
    test_df['Conversion Rate'] = (test_df['Purchase Number'] / test_df['Number of Clicks']) * 100
    test_df['CPC'] = test_df['Amount Spent'] / test_df['Number of Clicks']
    test_df['ROI'] = ((test_df['Purchase Number'] - test_df['Amount Spent']) / test_df['Amount Spent']) * 100

# Perform t-tests for ROI, CTR, Conversion Rate, and CPC
metrics = ['ROI', 'CTR', 'Conversion Rate', 'CPC']
t_test_results = []

for metric in metrics:
    t_stat, p_value = ttest_ind(control_df[metric], test_df[metric])
    t_test_results.append({
        'Metric': metric,
        'T-Statistic': t_stat,
        'P-Value': p_value
    })

# Convert results to DataFrame
t_test_results = pd.DataFrame(t_test_results)

# Display the t-test results
t_test_results

            Metric  T-Statistic   P-Value
0              ROI     1.183435  0.241465
1              CTR    -3.996250  0.000184
2  Conversion Rate     1.488079  0.142147
3              CPC     0.410837  0.682706

Understanding p-values in Statistical Testing
In statistical hypothesis testing, the p-value is a measure of the evidence against a null hypothesis. A small p-value (typically ≤ 0.05) suggests strong evidence against the null hypothesis, leading to its rejection. Conversely, a larger p-value suggests weak evidence against the null hypothesis.